/*
    Para compilar este archivo:
        npm install
        gulp
    
    Si no funciona gulp, ejecutar esto:
        npm install -g gulp
    
    Después de la compilación abrir index.html
*/
    
html {
    font-size: 10px; // De este valor dependen todas las medidas en mobile
    @media (min-width: 760px){
        font-size: 16px; // este valor determina todas las medidas en pantallas > 760px 
    }
}

/*
    Todo el resto de la oja de estilos depende
    del font-size que se declaro en HTML:

        1rem = font-size en px
    
*/

body {
    margin: 0;
    border: none;
}

.main-content {
    margin: 1rem;
    max-width: 35rem;
    margin: 4rem 2rem;
    @media (min-width: 35rem){
        margin-left: auto;
        margin-right: auto;
    }
    
    h1 {
        font-size: 4rem;
        margin: 1rem 0;
        line-height: 3rem;
    }
    
    h4 {
        font-size: 1.5rem;
        margin: 1.5rem 0;
        line-height: 2rem;
    }
    
    p {
        font-size: 1rem;
        margin: 2rem 0;
        line-height: 2rem;
    }
}

.grid {
    display: block; // cambiar por none para ocultar la grilla
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    .line {
        height: 1rem;
        outline: 0.1px solid #0ff6;
    }
}